body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mining-button, #withdraw-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.stage-1 { background-color: #fff; }
.stage-2 { background-color: #FFD700; } /* Oltinrang */
.stage-3 { background-color: #FFC300; } /* To'q Oltinrang */
.stage-4 { background-color: #FFA500; } /* Sabzirang */
.stage-5 { background-color: #F08080; } /* Ochiq Qizilrang */
